.container.text-left
  .row.u-margin-top-lg
    .col-md-6
      = image_tag "/images/events/gitlab-commit/intro.jpg"
    .col-md-6.u-margin-bottom-xs
      %h1 Commit to better DevOps
      %p
        Commit 2020 is a 24-hour virtual experience filled with practical DevOps strategies shared by leaders in development, operations, and security. You’ll discover innovative solutions to help you solve your industry's greatest challenges, including enhancing culture and shortening release times.
      %p
        %strong
          80+ speakers from 20+ industries presenting over 8+ tracks: All for free. Belong to a community of people passionate about DevOps.


      - if current_page.data.expiration_date
        - expirationDate = Time.parse(current_page.data.expiration_date)
      - else
        - expirationDate = Time.parse("2010-01-01")
      - currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")


      - if (expirationDate > currentTime && current_page.data.event_register_url)
        %noscript
          :plain
            <noscript><a href="https://www.eventbrite.com/e/gitlab-commit-virtual-tickets-105130995638#tickets" rel="noopener noreferrer" target="_blank"></noscript>
            <button id="eventbrite-widget-modal-trigger-105130995638" type="button" class="btn cta-btn orange" style="border: 1px solid #ffffff;">Register now</button>
            <noscript>Register now</a></noscript>

      - else
        =link_to "View on demand", "https://gitlabcommitvirtual.com/", class: "btn cta-btn orange"
