.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h2.margin-top0
      Version control for everyone
    %p
      GitLab makes modern Source Code Management easy. Project management, issue tracking, branches, code reviews and continuous integration in one single place. Merge Requests are your launchpad to high frequency integration and good code quality practices.<br><br>
      Developers, Product Managers, and Designers connect, collaborate, and dramatically reduce cycle time while keeping IP secure and track all changes.

  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "210", :src => "https://www.youtube.com/embed/l6K3Xn2MPJw", :width => "370"}
