.column
  .title
    Join our next virtual interview!
  .description
    Learn how to pump up your code quality with effective collaboration and code review
  = link_to "Code Review book (not ready yet!)", "https://www.michaelagreiler.com/code-review-book/"
  .image-width70pct
    = image_tag "/images/solutions/version-control-collaboration/Code-review-with-Michaela-Greiler.png", class: "margin-top10"
  = link_to "Register here", "https://gitlab.zoom.us/meeting/register/tJwtd-6vrjwrGdTVuB6qtJf6onLVAvH_62JI", class: "read-more"
